.all-events-container {
    margin: 25px 25px;
}

.all-events-container h2 {
    margin: auto 25px;
    font-size: 30px;
    text-transform: uppercase;
}

/* search bar settings */
.search-bar {
    padding: 25px;
}

/* past events opacity cards */
.past-events {
    opacity: 0.6;
}

.past-events:hover {
    opacity: 1.0;
}