.AuthorProfile {
    text-align: center;
    padding: 1.5rem;
}

.AuthorProfile img {
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
}

.author-profile-events {
    margin: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));
}

.author-profile-events h2 {
    color: #fafafa;
    text-align: start;
    text-transform: uppercase;
    margin: 1.5rem;
    padding-top: 1.5rem;
}