.event-details-container {
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    margin: 50px auto;
    overflow: auto;
    resize: none;
    gap: 5rem
}

.event-details {
    word-wrap: break-word;
    text-align: start;
    width: 50%;
}

.event-details-content h2 {
    display: flex;
    font-size: 30px;
    padding-top: .3rem;
}

.event-details-content a {
    display: flex;
    justify-content: end;
}

.ChatBox,
.event-details {
    overflow: hidden;
    width: min(100% - 15px, 500px);
}

.event-details img {
    margin: auto;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.event-details-content a {
    margin-top: 1rem;
}

.event-details h3 {
   color: #fafafa;
   padding-top: 1rem;
}

.edit-delete-icon {
    display: flex;
    justify-content: end;
}

/* attenting counter and link to join event */
.att-event {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.att-event button {
    display: flex;
    align-items: center;
    height: 45px;
    margin-top: 1rem;
    padding: 0 2rem;
    border-radius: 15px;
    color: #fafafa;
    border: 2px solid #f56457;
    background-color: #121212;
}

.att-event button:hover {
    background-color: #f56457;
}

/* link to the author's profile */
.avatar-profile img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.avatar-profile {
    display: flex;
    justify-content: end;
    padding: .5rem;
}