.FormEvent {
    margin-top: 5rem;
    color: #fafafa;
}

.FormEvent h1 {
    text-align: start;
    font-size: 40px;
    margin-bottom: 1rem;
}

.form-box {
    width: min(100% - 20px, 550px);
    margin-inline: auto;
    margin: auto;
    position: relative; 
}

.form-box label {
    display: block;
    text-align: start;
    margin: 0 0 0 0;
}

.form-box input, select {
    display: block;
    width: 100%;
    padding: .5rem .7rem .5rem .7rem;
    margin: .5rem 0 ;
    border: 0;
    border-radius: 5px;
    background-color: #fafafa;
    color: #000;
}

.form-box textarea {
    height: 150px;
    width: 100%;
    margin: .5rem 0;
    border: 0;
    border-radius: 5px;
    background-color: #fafafa;
    color: #000;
}

form button {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;

    border: none;
}

  input[type="file"]::-webkit-file-upload-button {
    border: none;
    color: #000;
    cursor: pointer;
  }