/* Tab Container */
.Tabs {
    color: #282c34;
    text-transform: uppercase;
    width: auto;
    padding: 1.5rem 1rem;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    width: 50%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #282c34;
}

.react-tabs__tab {
    width: 50%;
    padding: .7rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

.react-tabs__tab--selected {
    background: #f56457;
    color: #282c34;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
    text-align: center;
}

/* List of Events in Profile */
.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #f7f9f4;
    border-radius: 10px;
    overflow: hidden;
    width: 275px;
    flex: 1 1 100px;
}

.card-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100px;
}

.date {
    margin-top: auto;
    margin: 0;
    color: #f56457;
}

/* List of Chats in Profile */