/* Tab Container */
.profile {
    color: #282c34;
    text-transform: uppercase;
    margin: 25px 25px;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    width: 50%;
    margin: auto;
    display: flex;

    border: 1px solid #282c34;
    border-radius: 5px;
    overflow: hidden;
}

.react-tabs__tab {
    width: 50%;
    padding: .7rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

.react-tabs__tab--selected {
    background: #282c34;
    color: #f7f9f4;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
    text-align: center;
}

/* List of Chats in Profile */
.chat-container {
    text-align: center;
    padding-top: 2.5rem;
}

.chat-list {
    width: 150px;
    margin-left: 30%;
}

.chat-list,
.ChatBox {
    float: left;
}

/* profile */
.profile-details-container {
    text-transform: none;
}

.profile-img-container {
    display: inline-block;
    margin: auto;
    margin-top: 1.5rem;
}

.profile-avatar {
    width: 300px;
    border: .5px solid #282c34;
    border-radius: 5px;
    overflow: hidden;
}

/* author's profile */
.AuthorProfile {
    color: #282c34;
    text-align: center;
    padding: 1.5rem;
}

.AuthorProfile img {
    width: 300px;
    border: 1px solid #282c34;
    border-radius: 5px;
}

.author-profile-events {
    margin: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (300px, 1fr));    
}

.author-profile-events h2 {
    color: #282c34;
    text-align: center;
    padding-top: 1.5rem;
}

