/* Tab Container */
.profile {
    color: #282c34;
    text-transform: uppercase;
    padding: 2rem;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    width: 50%;
    margin: auto;
    display: flex;
    border: 1px solid #282c34;
}

.react-tabs__tab {
    width: 50%;
    padding: .7rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

.react-tabs__tab--selected {
    background: #f56457;
    color: #282c34;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
    text-align: center;
}

/* List of Events in Profile */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1.5rem;
}

.card {
    background-color: #f7f9f4;
    overflow: hidden;
    width: 275px;
    flex: 1 1 100px;
}

.card-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 50px;
}

.date {
    color: #f56457;
}

/* List of Chats in Profile */
.chat-container {
    text-align: center;
}

.chat-list {
    width: 150px;
    margin-left: 30%;
}

.chat-list,
.ChatBox {
    float: left;
}

/* profile */
.profile-details-container {
    text-transform: none;
}

.profile-img-container {
    display: inline-block;
    margin: auto;
    margin-top: 1.5rem;
}

.profile-avatar {
    width: 300px;
    border: .5px solid #282c34;
    border-radius: 5px;
    overflow: hidden;
}

/* author's profile */
.AuthorProfile {
    display: block;

    padding-top: 1.5rem;
    text-align: center;
}

.AuthorProfile img {
    width: 300px;
    border: 1px solid #282c34;
}

.author-profile-events {
    display: flex;
    justify-content: center ;
    align-content: center;
}