.chatbox {
    height: 600px;
    width: 500px;
    overflow: hidden;
    background-color: #1c1e21;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chatbox-head {
    background: #f56457;
    text-align: start;
    text-transform: capitalize;
    padding: .7rem;
}

.chat-messages {
    padding: 5px 10px;
}

/* scroll to bottom of chat functionality  */
.scroll-to-bottom-chat {
    background: #1c1e21;
    height: 420px;
}

.scroll-to-bottom-chat *::-webkit-scrollbar {
    width: 15px;
}

.scroll-to-bottom-chat *::-webkit-scrollbar-track {
    background-color: #1c1e21;
    border-radius: 5px;
}

.scroll-to-bottom-chat *::-webkit-scrollbar-thumb {
    background-color: #f56457;
    border-radius: 5px;
}

.scroll-to-bottom-chat *::-webkit-scrollbar-thumb:hover {
    background-color: #fafafa;

}

.message-container {
    background: #fafafa;
    text-transform: capitalize;
    text-align: start;

    border-radius: 20px;

    padding: 5px 15px;
    margin: 15px 10px;

    width: max-content;
    max-width: fit-content;

    clear: both;
}

#message-right {
    float: right;
}

.message-author {
    font-size: 15px;
    color: #000;
    text-align: start;
}

.message-text {
    padding-left: 20px;
    margin: 5px 5px;
    color: #000;
}

.chatbox-footer {
    background-color: #1c1e21;
    display: flex;
    margin-top: auto;
}

/* add message component */
.form-chat {
    width: min(100% - 20px, 600px);
    margin-inline: auto;
    position: relative;
    text-align: start;
}

.form-chat input {
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .5vw 0;
    border: none;
    border-radius: 5px;
}

.red-btn {
    color: #fafafa;
    background: #f56457;
}

.red-btn:hover {
    cursor: pointer;
    color: #f56457;
    background-color: #fafafa;
}
