.events-container{
    display: flex;
    overflow-x: scroll;
}

.event-inweek a{
    color: #282c34;
    text-decoration: none;
}

/* past events opacity */
.past-events {
    opacity: 0.6;
}

.past-events:hover {
    opacity: 1.0;
}