body {
  height: 100%;
  background-color: #ede5d8;
}

.App {
  text-align: center;
  font-family: 'Roboto';
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #282c34;
}

/* Tab Container */
.Tabs {
  width: auto;
  padding: 1.5rem 1rem;
  color: #282c34;
  text-transform: uppercase;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #282c34;
  padding-left: 0px;
}
.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
.react-tabs__tab--selected {
  background: #f56457;
  color: #282c34;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 1rem;
  text-align: center;
}

/* error messages feedback */
.error-message {
  background: #f02b63;
  color: #f7f9f4;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
}