@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Roboto';
  height: 100%;
  font-size: 14px;
}

a, p, h1 {
  text-decoration: none;
  color: #fafafa;
}

h2 {
  color: #f56457
}

/* all buttons */
button {
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* error messages feedback */
.error-message {
  background: #f56457;
  color: #f7f9f4;

  margin: auto;
  padding: 15px;
  border-radius: 5px;
}